.label-wrapper {
    font-size: 13px;
    color: #494949;
    background: white;
    text-decoration: none;
    border: 1px solid gray;
    transition-property: background-color, transform, border-color;
    transition-duration: 100ms;
    transition-timing-function: linear;
    /*transition-timing-function: ease;*/
}

.label-wrapper.label-highlight {
    background-color: rgb(248, 215, 218);
    border-color: rgb(208, 175, 178);
}

/*.label-wrapper-mini span {*/
/*    font-size: 10px;*/
/*}*/

@keyframes rotate {
    0% {
        transform: rotate(0) scale(1.1);
    }

    20% {
        transform: rotate(-2deg) scale(1.1);
    }

    60% {
        transform: rotate(0) scale(1.1);
    }

    80% {
        transform: rotate(2deg) scale(1.1);
    }

    100% {
        transform: rotate(0) scale(1.1);
    }
}

.label-wrapper:hover {
    color: #eeeeee;
    background-color: #177ed2;
    border-color: #177ed2;
    animation: rotate 0.3s ease infinite;
}

.label-wrapper.label-highlight:hover {
    color: #eeeeee;
    background-color: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
    animation: rotate 0.3s ease infinite;
}