{% extends 'base_forum.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/userinfo_base.css' %}">
  <div id="userinfo-bg-container">
    <img src="{% static 'img/default_userinfo_cover.svg' %}" alt="你老公张磊">
    <div id="avatar-wrapper">
      <img src="{% static 'img/default_avatar.svg' %}" alt="用户头像">
    </div>
  </div>
  <div class="container">
    <div class="mt-4 mb-4 ms-5" style="font-weight: 200">
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
          <li class="breadcrumb-item" aria-current="page">{{ request.session.username }}</li>
          {% block breadcrumb %}{% endblock %}
        </ul>
      </nav>
    </div>
  </div>
  {% block userinfo_content %}
  {% endblock %}
{% endblock %}