 {% extends 'base_forum.html' %}

{% block content %}
  <div class="container">
    <div class="mx-5">
      <div class="row">

        <div class="col-8">
          <div id="editor" class="mt-5">
            <form id="ckeditor-form" action="{% url 'editor' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <div>
                  {{ form.media }}
                  {{ form.content }}
                  <div id="editor-invalid-feedback" style="display: none">
                    {{ form.content.errors.0 }}
                  </div>
                </div>
              </div>
              {{ form.title }}
              {{ form.labels }}
              {{ form.bound_book }}
            </form>
          </div>
        </div>

        <div class="col-4">
          <div class="mt-5 d-grid">
            <button id="ckeditor-submit" form="ckeditor-form" class="btn btn-primary" type="submit">发布</button>
          </div>

          <div class="mt-3 mb-2">
            <label class="form-label">标题</label>
            <input id="editor-post-title" class="form-control" type="text" maxlength="30" placeholder="文章标题"
                   required>
            <div class="invalid-feedback"></div>
          </div>

          <label class="form-label">添加标签</label>
          <div class="input-group">
            <input class="form-control" type="text" maxlength="30" placeholder="输入文章关联的标签呦" required>
            <button id="label-add" type="button" class="btn btn-outline-primary">添加</button>
          </div>
          <div id="labels-chosen" class="d-flex flex-wrap mt-3"></div>

          <div>
            {# 假搜索 #}
            <label class="form-label" for="book-bind">绑定书籍</label>
            <input id="book-bind-fake" type="search" class="form-control" placeholder="输入书名或ISBN">
            {# 真搜索 #}
            <div class="search-dropdown p-3 bg-white rounded-3" id="searchDropdown">
              <input id="book-bind" type="search" class="form-control">
              <div class="mt-3">
                {# 妈的，今天520，坐直男旁边坐了五六个小时，为什么不是坐他身上 #}
              </div>
            </div>
            {# 选中 #}
            <div id="bound-book" class="row mt-3">
              <div class="col-6">
                <img style="object-fit: contain;width: 170px" src="">
              </div>
              <div class="col-6 fs-6" id="book-other-data">
                <div>
                  <span>标题：</span>
                  <span></span>
                </div>
                <div>
                  <span>ISBN：</span>
                  <span></span>
                </div>
                <a>
                  <span>跳转到书籍详情页</span>
                  <img src="/media/icon/box-arrow-up-right.svg">
                </a>
                <button id="cancel-bind" type="button" class="btn btn-outline-danger mt-3">取消绑定</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}