#username, #introduction-show, #info {
    color: #6c757d
}

#username {
    text-align: center;
    font-size: 32px;
    font-weight: 300;
}

#introduction-shown {
    font-weight: lighter;
}

.stat {
    min-width: 70px;
    text-align: center;
}

.stat :first-child {
    display: block;
    font-size: 35px;
}

.stat a {
    color: rgb(51, 122, 183);
    text-decoration: none;
}

.stat a:hover {
    color: rgb(35, 82, 124);
    text-decoration: underline rgb(35, 82, 124);
}

.stat div:last-child {
    font-weight: 200;
    font-size: 12px;
}

#info {
    font-weight: 200;
    font-size: 10px
}

#info span {
    font-weight: 800;
    color: black;
}