#edit-btn-group button {
    border-color: rgb(221, 221, 221);
}

#edit-btn-group button:hover {
    background-color: #eeeeee;
}

#userinfo-form label {
    font-size: 14px;
    font-weight: bold;
}

#userinfo-form input, #userinfo-form textarea {
    background-color: white;
}