{% extends 'base_forum.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="mb-4 ms-5 mt-2" style="font-weight: 200">
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
          <li class="breadcrumb-item" aria-current="page">登录</li>
        </ul>
      </nav>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <form novalidate method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
          {% endif %}
          {% for field in form %}
            <div class="mb-3">
              <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {# 妈妈，好神奇 #}
              {# forloop.first 循环第一个 #}
              {# field.errors  表单字段的clean_<fieldname>方法丢出来的错误 #}
              {# form.non_field_errors 表单的clean方法丢出来的错误 #}
              {# field.value 提交以后，刷新页面，保持原来的值，即使错误也可以保持原来的值 #}
              {# 过滤器 |striptags 把html标签全过滤掉 #}
              <input type="{% if forloop.first %}text{% else %}password{% endif %}"
                     class="form-control {% if field.errors %}is-invalid{% endif %} {% if form.non_field_errors and forloop.last %}is-invalid{% endif %}"
                     name="{{ field.id_for_label }}"
                     value="{% if field.value %}{{ field.value }}{% endif %}">
              {{ field|striptags }}
              <div class="invalid-feedback">
                {{ field.errors|striptags }}
                {% if form.non_field_errors and forloop.last %}
                  {{ form.non_field_errors|striptags }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <div class="d-grid mb-2">
            <button type="submit" class="btn btn-block btn-primary">登录</button>
          </div>
          <div class="d-flex justify-content-between">
            <div>没有账号？<a href="{% url 'register' %}">注册</a></div>
            <a href="{% url 'reset_verify' %}">忘记密码</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
