{% extends 'base_forum.html' %}
{% load static %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/breadcrumb_link.css' %}">
  <div class="container">
    <div class="mt-3 mb-4 ms-5">
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
          <li class="breadcrumb-item active" aria-current="page">重置密码</li>
        </ul>
      </nav>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">
        <form novalidate method="post" action="{% url 'reset' %}">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label" for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
            <div class="invalid-feedback">
              {{ form.password.errors|striptags }}
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label"
                   for="{{ form.password_ensure.id_for_label }}">{{ form.password_ensure.label }}</label>
            {{ form.password_ensure }}
            <div class="invalid-feedback">
              {{ form.password_ensure.errors|striptags }}
            </div>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-block btn-primary">重置密码</button>
          </div>

        </form>
      </div>
    </div>
  </div>
{% endblock %}
