{% extends 'base_userinfo_other_user.html' %}
{% load static %}

{% block userinfo_content %}
  <div id="username" class="mt-5">
    {{ userinfo.username }}
  </div>
  <div id="introduction-shown" class="text-center mt-3">{{ userinfo.introduction }}</div>
  <div class="d-flex justify-content-center mt-3">
    <div class="stat mx-4">
      <div><a href="#">999</a></div>
      <div>读过</div>
    </div>
    <div class="stat mx-4">
      <div><a href="#">0</a></div>
      <div>主题</div>
    </div>
    <div class="stat mx-4">
      <div><a href="#">0</a></div>
      <div>回复</div>
    </div>
    <div class="stat mx-4">
      <div><a href="#">0</a></div>
      <div>关注</div>
    </div>
    <div class="stat mx-4">
      <div><a href="#">0</a></div>
      <div>粉丝</div>
    </div>
  </div>
  <div id="info" class="mt-5 text-center">
    注册时间 <span>{{ register_time }}</span>
  </div>
{% endblock %}