{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reading Homepage</title>
  {# 烦死了，bydCDN，byd傻逼墙 #}
  <link rel="stylesheet" href="https://cdn.staticfile.net/twitter-bootstrap/5.3.3/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.net/popper.js/2.9.3/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.net/twitter-bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/breadcrumb.js' %}"></script>
  <script src="{% static 'js/edit_profile.js' %}"></script>
  <script src="{% static 'js/editor.js' %}"></script>
  <script src="{% static 'js/post_detail.js' %}"></script>
  <script src="{% static 'js/show_toast.js' %}"></script>
  <script src="{% static 'js/post_content_truncated.js' %}"></script>
  <script src="{% static 'js/check_login.js' %}"></script>
  <script src="{% static 'js/tooltip.js' %}"></script>
  <script src="{% static 'js/search.js' %}"></script>
  <script src="{% static 'js/create_post_btn.js' %}"></script>
  <script src="{% static 'js/report.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/forum/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/breadcrumb_link.css' %}">
  <link rel="stylesheet" href="{% static 'css/forum/base_forum.css' %}">
  <link rel="stylesheet" href="{% static 'css/userinfo.css' %}">
  <link rel="stylesheet" href="{% static 'css/userinfo_edit.css' %}">
  <link rel="stylesheet" href="{% static 'css/editor/editor.css' %}">
  <link rel="stylesheet" href="{% static 'css/post/post_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/sort_button.css' %}">
  <link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/avatar_mini.css' %}">
  <link rel="stylesheet" href="{% static 'css/user_info_mini.css' %}">
  <link rel="stylesheet" href="{% static 'css/up_down.css' %}">
  {# 赞踩(上下箭头) #}
  <link rel="stylesheet" href="{% static 'css/comments.css' %}">
  <link rel="stylesheet" href="{% static 'css/module_block.css' %}">
  <link rel="stylesheet" href="{% static 'css/label.css' %}">
  <link rel="stylesheet" href="{% static 'css/post/content_truncated.css' %}">
  <link rel="stylesheet" href="{% static 'css/one_way_sort_btn.css' %}">
  <link rel="stylesheet" href="{% static 'css/post/reply.css' %}">
  <link rel="stylesheet" href="{% static 'css/editor/create_post_btn.css' %}">
  <link rel="stylesheet" href="{% static 'css/forum/search_input.css' %}">
  <link rel="stylesheet" href="{% static 'css/report.css' %}">
</head>
<body>
<div class="d-flex flex-column min-vh-100">
  <div id="navbar-container" class="fixed-top bg-white">
    <nav class="navbar py-1 rounded border-bottom">
      <div class="container d-flex justify-content-between flex-nowrap">
        <div class="d-flex">
          <a class="navbar-brand" id="forum-title" href="{% url 'home' %}"><b>ReadingForum</b></a>
          <ul class="navbar-nav me-auto flex-row">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2">首页</a></li>
            <li class="nav-item"><a href="{% url 'book-home' %}" class="nav-link px-2">读书</a></li>
            <li class="nav-item"><a href="{% url 'post_list' %}" class="nav-link px-2">交流</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2">关于</a></li>
            {% if request.session.is_admin %}
              <li class="nav-item"><a href="{% url 'admin_index' %}" class="nav-link px-2">后台</a></li>
            {% endif %}
          </ul>
        </div>
        <div class="d-flex flex-grow-1 justify-content-end">
          <div class="w-100 d-flex justify-content-end me-4">
            <div class="input-group" id="search-input-wrapper">
              <span class="input-group-text" id="search-type">用户|书籍|帖子</span>
              <label for="search-input"></label>
              <input id="search-input" class="form-control z-3" type="search" placeholder="搜索">
              <button id="search-btn" type="button" class="btn btn-outline-primary z-3">搜索</button>
              <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
              </button>
              <ul id="search-options" class="dropdown-menu dropdown-menu-end">
                <li class="dropdown-item" data-search-type="1">用户|书籍|帖子</li>
                <li class="dropdown-item" data-search-type="2">标签</li>
              </ul>
            </div>

          </div>
          {% if request.session.username %}
            <div class="dropdown me-5 position-relative">
              <button type="button" class="btn dropdown-toggle" style="border: none" data-bs-toggle="dropdown" aria-expanded="false">
                <img id="avatar-mini"
                     src="{% if request.session.avatar_url %}{{ request.session.avatar_url }}{% else %}{% static 'img/default_avatar.svg' %}{% endif %}"
                     alt="用户头像">
                <span class="ms-2">{{ request.session.username }}</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-end" style="width: 60px">
                <li><a class="dropdown-item" href="{% url 'userinfo' request.session.username %}">个人中心</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">编辑资料</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                {# TODO 消息通知 #}
                <li>
                  <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">消息
                    <span class="badge bg-danger">4</span>
                  </a>
                </li>
                {# TODO 未定功能 #}
                <li><a class="dropdown-item" href="#">链接</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">注销</a></li>
              </ul>
            </div>
          {% else %}
            <div class="d-flex justify-content-around flex-nowrap align-items-center">
              {# 用户在哪里跳转到注册/登录页面，注册/登录完之后就跳转回原来的页面 #}
              <a href="{% url "login" %}?next={{ request.path }}" class="nav-link px-3 nowrap" id="navbar-login" style="white-space: nowrap">登录</a>
              <a href="{% url 'register' %}?next={{ request.path }}" class="nav-link px-3 nowrap" style="white-space: nowrap"
                 id="navbar-register">注册</a>
            </div>

          {% endif %}
        </div>
      </div>
    </nav>
  </div>
  <div class="flex-fill" style="margin-top: 48px">
    {% block content %}
    {% endblock %}
  </div>

  <div id="toast-container" class="toast-container position-fixed bottom-0 end-0 p-3"></div>

  <div class="container">
    <footer class="py-2 border-top border-info-subtle">
      <p class="text-center text-muted" style="font-size: 12px">© 反正又没人看</p>
    </footer>
  </div>
</div>
</body>
</html>