{% extends 'base_forum.html' %}

{% block content %}
  <div class="container pt-5">
    <div class="row">
      <div class="col-3">
        <ul class="list-group">
          <li class="list-group-item"><a href="{% url 'admin_user' %}">用户</a></li>
          <li class="list-group-item"><a href="{% url 'admin_book' %}">书籍</a></li>
          <li class="list-group-item"><a href="#">第三项</a></li>
        </ul>
      </div>
      <div class="col-9">
        {% block admin_module %}

        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}