{% extends 'base_forum.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="mx-5 row">
      {# 面包屑 #}
      <nav aria-label="breadcrumb" class="pt-2">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
          <li class="breadcrumb-item"><a href="{% url 'book-home' %}">读书</a></li>
          <li class="breadcrumb-item" aria-current="page">{{ book.title }}</li>
        </ul>
      </nav>
      {# 图书封面、标题、简介 #}
      <div class="col-3">
        <div class="card" style="width: 18rem;">
          {% if book.cover %}
            <img src="{{ book.cover }}" class="card-img-top" alt="暂无封面">
          {% else %}
            <img src="{% static 'img/default_book_cover.png' %}">
          {% endif %}
          <div class="card-body">
            <h3 id="book-title" class="card-title">{{ book.title }}</h3>
            <div id="book-introduction" class="card-text">
              {{ book.introduction|linebreaks }}
            </div>
          </div>
        </div>
      </div>
      {# 图书信息 #}
      <div class="col-7">
        {# 图书信息+商品信息 #}
        <div class="mx-3 row">
          {# 图书信息 #}
          <div class="col-7 mb-2">
            <div class="mb-2 book-detail-subtitle">作品信息</div>
            <div id="book-other-data" class="mb-4">
              <div>
                <span>ISBN:</span>
                <span>{{ book.isbn }}</span>
              </div>
              {% for k, v in book.book_data.items %}
                <div>
                  <span>{{ k }}:</span>
                  <span>{{ v }}</span>
                </div>
              {% endfor %}
            </div>
            {# 标签 #}
            <div class="mb-2 book-detail-subtitle">作品标签</div>
            <div class="d-flex flex-wrap" style="position: relative">
              {% for label in book.label %}
                <a class="rounded-pill px-2 me-2 mb-2 label-wrapper" href="{% url 'search_labels' %}?label={{ label }}">
                  <span>{{ label }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
          {# 商品信息 #}
          <div class="col-5 border-start" id="goods-info-wrapper">
            {#            <div class="mb-2 book-detail-subtitle">商品信息</div>#}
            {#            <div>#}
            {#              <span>价格:</span>#}
            {#              <span>{{ book.price }}</span>#}
            {#            </div>#}
            {#            <div>#}
            {#              <span>库存:</span>#}
            {#              <span>{{ book.stock }}</span>#}
            {#            </div>#}
            {#            <div>#}
            {#              <span>商品状态:</span>#}
            {#              <span>{{ book.status_mapped }}</span>#}
            {#            </div>#}
            {#            <div>#}
            {#              <span>ISBN:</span>#}
            {#              <span>{{ book.isbn }}</span>#}
            {#            </div>#}
          </div>
        </div>

        <div class="mx-4 mt-3">
          <a href="#comment-input-wrapper" class="write-post write-comment-btn"><img src="{% static 'img/write.svg' %}"
                                                                                     alt="发布">发表书评</a>
          <a href="{% url 'editor' %}?bind={{ book.id }}" class="write-post"><img src="{% static 'img/write.svg' %}" alt="发布">发布帖子</a>
        </div>

        {# 书评 #}
        <div class="mx-4 mt-5" id="book-comments-wrapper">
          <div class="mb-2">
            <span class="module-subtitle">书评</span>
            <a href="{% url 'book-comments' book.id %}">查看全部</a>
            <a href="#comment-input-wrapper" class="write-post ms-3 write-comment-btn">
              <img src="{% static 'img/write.svg' %}" alt="发布">发表书评</a>
          </div>

          {# 发表书评 #}
          <div id="comment-input-wrapper" class="mb-5" style="display: none">
            {% csrf_token %}
            <label for="comment-input" class="form-label"></label>
            <textarea rows="5" maxlength="500" class="form-control" id="comment-input"></textarea>
            <button id="send-comment-btn" type="submit" class="float-end btn btn-outline-primary btn-sm mt-3">发表书评
            </button>
          </div>

          {#          <div class="mb-2 pb-1">#}
          {#            <span>倒序</span> /#}
          {#            <span>正序</span>#}
          {#          </div>#}

          {% if comments %}
            {% for comment in comments %}
              <div id="comments" class="border-top">
                <div class="d-flex justify-content-between my-2">
                  {# 发布者信息 #}
                  <div id="author-info" class="d-flex">
                    <img class="mt-2" id="avatar-mini" style="width: 25px;height: 25px"
                         src="
                             {% if comment.avatar_url %}{{ comment.avatar_url }}{% else %}{% static 'img/default_avatar.svg' %}{% endif %}"
                         alt="头像">
                    <div class="ms-2">
                      <a href="{% url 'userinfo' comment.username %}">{{ comment.username }}
                      </a>
                      <div class="text-secondary" style="font-size: 11px">{{ comment.time }}</div>
                    </div>
                  </div>
                  {# 顶/踩 #}
                  {#              <div id="up-down" class="me-3 pt-2 d-flex justify-content-center">#}
                  {#                <div class="pe-2 ">#}
                  {#                  <img src="{% static 'img/up.svg' %}" alt="顶">#}
                  {#                  <div>42</div>#}
                  {#                </div>#}
                  {#                <div>#}
                  {#                  <img src="{% static 'img/down.svg' %}" alt="踩">#}
                  {#                  <div>18</div>#}
                  {#                </div>#}
                  {#              </div>#}
                </div>
                {# 书评内容 #}
                <p class="mx-2">{{ comment.comment }}</p>
              </div>
            {% endfor %}
          {% else %}
            <div class="my-5">
              <div class="text-center">没有找到任何书评哦~，去发布</div>
            </div>
          {% endif %}
          <a class="mt-2 more-item" href="{% url 'book-comments' book.id %}">>>查看更多书评</a>
        </div>

        {# 帖子 #}
        <div class="mx-3 mt-5" id="book-posts-wrapper">
          <div class="mb-2">
            <span class="module-subtitle">帖子</span>
            <a href="{% url 'book-posts' book.id %}">查看全部</a>
            <a id="book-detail-write-post" href="{% url 'editor' %}?bind={{ book.id }}" class="write-post ms-3"><img src="{% static 'img/write.svg' %}" alt="发布">发布帖子</a>
          </div>
          {#          <div class="mb-2 pb-1 pt-2">#}
          {#            <span>倒序</span> /#}
          {#            <span>正序</span>#}
          {#          </div>#}

          {% if posts %}
            {% for post in posts %}
              <div id="comments" class="border-top">
                <div class="d-flex justify-content-between my-2">
                  {# 发布者信息 #}
                  <div id="author-info" class="d-flex align-items-center">
                    <img id="avatar-medium"
                         src="{% if post.author_avatar %}{{ post.author_avatar }}{% else %}{% static 'img/default_avatar.svg' %}{% endif %}"
                         alt="头像">
                    <div class="ms-3">
                      <a href="{% url 'userinfo' post.author %}">{{ post.author }}</a>
                      <div class="text-secondary">{{ post.post_time }}</div>
                    </div>
                  </div>
                </div>
                {# 帖子内容 #}
                <div class="mx-2">
                  <a href="{% url 'detail_post' post.id %}" class="post-title-mini">
                    <span>{{ post.title }}</span>
                  </a>
                  {#                <p class="mt-2">{{ post.content|safe|truncatechars:200 }}</p>#}
                  <div class="mt-2 post-content-truncated d-flex flex-column">
                    {{ post.content|safe|truncatechars:200 }}
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="my-5">
              <div class="text-center">没有找到任何帖子哦~，去发布</div>
            </div>
          {% endif %}


          <a class="mt-2 more-item" href="{% url 'book-posts' book.id %}">>>查看更多帖子</a>
        </div>

      </div>

      {# 最后一列 #}
      <div class="col-2">
        {% if recommend_books %}
          <span class="module-subtitle">为您推荐</span>

          {% for book in recommend_books %}
            {% include 'book/side_bar_book.html' with cover_size=150 %}
            {% if not forloop.last %}
              <hr>
            {% endif %}
          {% endfor %}

        {% endif %}
      </div>

    </div>
  </div>
  <body>
  <script src="{% static 'js/write_comment.js' %}"></script>
  </body>
{% endblock %}