{% extends 'base_forum.html' %}
{% load static %}

{% block content %}
  {% include 'forum/create_post_btn.html' %}

  <div class="container mb-3">
    <div class="mx-5 mt-2">
      {% if type == "new" %}
        <div class="w-100 bg-warning-subtle">
          <span class="my-2 ms-2 fs-6 fw-bolder text-muted">新书推荐</span>
        </div>
      {% elif type == "hot" %}
        <div class="w-100 bg-danger-subtle">
          <span class="my-2 ms-2 fs-6 fw-bolder text-muted">热门书籍</span>
        </div>
      {% endif %}

      <div class="row m-2">
        {% for book in books %}
          {# 一本书籍 #}
          <div class="col-2 px-3 py-2 module-block home-page-book">
            <div class="border rounded-3">
              <img class="object-fit-cover" src="{% if book.cover %}{{ book.cover }}{% else %}{% static 'img/default_book_cover.png' %}{% endif %}"
                   style="width: 100%;height: 230px">
              <div class="mx-2 mt-2 text-muted">
                <div class="fs-6" data-bs-toggle="tooltip" title="{{ book.title }}">
                  <a class="text-body text-decoration-none" href="{% url 'book_detail' book.id %}">{{ book.title|truncatechars:10 }}</a>
                </div>
                <div style="font-size: 12px" class="nowrap">
                  <span>ISBN:</span>
                  <span>{{ book.isbn }}</span>
                </div>
              </div>

              <div class="book-hover-show">
                {# 标签 #}
                <div class="mx-2 d-flex flex-wrap mt-1" style="position: relative">
                  {% for label in book.label %}
                    <a class="rounded-pill px-2 me-2 mb-1 label-wrapper label-wrapper-mini" href="{% url 'search_labels' %}?label={{ label }}">
                      <span>{{ label }}</span>
                    </a>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
        {% endfor %}
      </div>
      {% include 'forum/utils/mini_paginator.html' with url=request.url paginator=page_info %}
    </div>

  </div>
  <body>
  <link rel="stylesheet" href="{% static 'css/forum/home_page.css' %}">
  </body>

{% endblock %}