{% extends 'base_forum.html' %}
{% load static %}

{% block content %}
  {% csrf_token %}
  <div class="container">
    <div class="mx-5 row">
      {# 面包屑 #}
      <nav aria-label="breadcrumb" class="pt-2">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'book_list' %}">读书</a></li>
          <li class="breadcrumb-item"><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
          <li class="breadcrumb-item" aria-current="page">书评</li>
        </ul>
      </nav>
      {# 书评 #}
      <div class="col-9">
        <div class="comments-title mb-2">
          <span>{{ book.title }}</span>&nbsp;&nbsp;
          <span>书评</span>
          <button id="write-comment-btn" class="btn rounded-0 btn-outline-primary me-4 float-end" data-bs-toggle="modal" data-bs-target="#comment-modal">
            发表书评
          </button>
          <div class="modal fade" id="comment-modal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">发表书评</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <textarea id="comment-input" rows="5" maxlength="500" class="form-control"></textarea>
                </div>
                <div class="modal-footer">
                  <button id="send-comment-btn" type="button" class="btn btn-outline-primary">发表</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="align-items-center pb-2 border-bottom">
          {% if paginator.sort_by.time == -1 %}
            <a class="px-4 sort-btn sort-btn-down sort-btn-active" href="#">倒序</a>
          {% else %}
            <a class="px-4 sort-btn sort-btn-down" href="{% url 'book-comments' book.id %}?time=-1">倒序</a>
          {% endif %}

          {% if paginator.sort_by.time == 1 %}
            <a class="px-4 sort-btn sort-btn-up sort-btn-active" href="#">正序</a>
          {% else %}
            <a class="px-4 sort-btn sort-btn-up" href="{% url 'book-comments' book.id %}?time=1">正序</a>
          {% endif %}

          <span class="px-4 ms-3">第<b>{{ paginator.page }}</b>页</span>
        </div>
        {% if comments %}
          {% for comment in comments %}
            <div id="comments-all" class="border-top">
              <div class="d-flex justify-content-between my-2">
                {# 发布者信息 #}
                <div id="author-info" class="d-flex">
                  <img class="mt-2" id="avatar-mini" style="width: 28px;height: 28px"
                       src="
                           {% if comment.avatar_url %}{{ comment.avatar_url }}{% else %}{% static 'img/default_avatar.svg' %}{% endif %}"
                       alt="头像">
                  <div class="ms-2">
                    <a href="{% url 'userinfo' comment.username %}">{{ comment.username }}
                    </a>
                    <div class="text-secondary" style="font-size: 11px">{{ comment.time }}</div>
                  </div>
                </div>
              </div>
              {# 书评内容 #}
              <p class="mx-2">{{ comment.comment }}</p>
            </div>
          {% endfor %}
        {% endif %}
        {# 分页器 #}
        <div id="mini-paginator" class="mt-4 hstack gap-3 d-flex justify-content-center align-items-center">
          <a {% if paginator.has_prev == True %}
            href="{% url 'book-comments' book.id %}?page=1"
          {% else %}

          {% endif %} >&lt;&lt;第一页</a>
          <a {% if paginator.has_prev == True %}
            href="{% url 'book-comments' book.id %}?page={{ paginator.previous }}"
          {% else %}

          {% endif %} >&lt;上一页</a>
          <a {% if paginator.has_next == True %}
            href="{% url 'book-comments' book.id %}?page={{ paginator.next }}"
          {% else %}

          {% endif %} >下一页&gt;</a>
          <div>第<b>{{ paginator.page }}</b>页</div>
        </div>
      </div>
      {# 侧边栏 #}
      <div class="col-3 comments-side-bar">
        {% include 'book/side_bar_book.html' %}
      </div>
    </div>
  </div>
  <body>
    <script src="{% static 'js/write_comment_2.js' %}"></script>
  </body>
{% endblock %}