{% extends 'base_forum.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="mx-5 row">

      {# 面包屑 #}
      <nav aria-label="breadcrumb" class="pt-2">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'book-home' %}">读书</a></li>
          <li class="breadcrumb-item"><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
          <li class="breadcrumb-item" aria-current="page">帖子</li>
        </ul>
      </nav>

      {# 帖子 #}
      <div class="col-9">

        <div class="comments-title mb-2">
          <span>{{ book.title }}</span>
          <span class="ms-3">帖子</span>
          <a href="{% url 'editor' %}?bind={{ book.id }}" class="btn rounded-0 btn-outline-primary me-4 float-end">发表帖子</a>
        </div>

        <div class="align-items-center pb-2 border-bottom">
          {% if paginator.sort_by.hot == 1 %}
            <a class="px-4 sort-btn sort-btn-up sort-btn-active" href="{% url 'book-posts' book.id %}?sort=hot&asc=1">评论数量正序</a>
          {% else %}
            <a class="px-4 sort-btn sort-btn-up" href="{% url 'book-posts' book.id %}?sort=hot&asc=1">评论数量正序</a>
          {% endif %}
          {% if paginator.sort_by.hot == -1 %}
            <a class="px-4 sort-btn sort-btn-down sort-btn-active" href="{% url 'book-posts' book.id %}?sort=hot&asc=-1">评论数量倒序</a>
          {% else %}
            <a class="px-4 sort-btn sort-btn-down" href="{% url 'book-posts' book.id %}?sort=hot&asc=-1">评论数量倒序</a>
          {% endif %}

          {% if paginator.sort_by.time == 1 %}
            <a class="px-4 sort-btn sort-btn-up sort-btn-active" href="{% url 'book-posts' book.id %}?sort=time&asc=1">时间正序</a>
          {% else %}
            <a class="px-4 sort-btn sort-btn-up" href="{% url 'book-posts' book.id %}?sort=time&asc=1">时间正序</a>
          {% endif %}

          {% if paginator.sort_by.time == -1 %}
            <a class="px-4 sort-btn sort-btn-down sort-btn-active" href="{% url 'book-posts' book.id %}?sort=time&asc=-1">时间倒序</a>
          {% else %}
            <a class="px-4 sort-btn sort-btn-down" href="{% url 'book-posts' book.id %}?sort=time&asc=-1">时间倒序</a>
          {% endif %}
          <span class="px-4 ms-3">第<b>n</b>页</span>
        </div>

        {% if posts %}
          {% for post in posts %}
            <div>
              <div class="border-top pt-2">
                {# 发布者信息 #}
                <div id="author-info" class="d-flex">
                  <img class="mt-2" id="avatar-mini" style="width: 28px;height: 28px"
                       src="{% if post.avatar_url %}{{ post.avatar_url }}{% else %}{% static 'img/default_avatar.svg' %}{% endif %}"
                       alt="头像">
                  <div class="ms-2">
                    <a href="{% url 'userinfo' post.author %}">{{ post.author }}
                    </a>
                    <div class="text-secondary" style="font-size: 11px">{{ post.time }}</div>
                  </div>
                </div>

                <div class="mx-2 mt-2">
                  <a class="post-title-mini fs-6" href="{% url 'detail_post' post.id %}">
                    <span>{{ post.title }}</span>
                  </a>
                </div>

                <div class="mt-1 mx-2 post-content-truncated d-flex flex-column" style="font-size: 13px">
                  {{ post.content|safe|truncatechars:200 }}
                </div>

              </div>

            </div>
          {% endfor %}
        {% else %}

        {% endif %}
        {# 分页器 #}
        <div id="mini-paginator" class="mt-4 hstack gap-3 d-flex justify-content-center align-items-center">
          <a {% if paginator.has_prev == True %}
            href="{% url 'book-comments' book.id %}?page=1"
          {% else %}

          {% endif %} >&lt;&lt;第一页</a>
          <a {% if paginator.has_prev == True %}
            href="{% url 'book-comments' book.id %}?page={{ paginator.previous }}"
          {% else %}

          {% endif %} >&lt;上一页</a>
          <a {% if paginator.has_next == True %}
            href="{% url 'book-comments' book.id %}?page={{ paginator.next }}"
          {% else %}

          {% endif %} >下一页&gt;</a>
          <div>第<b>{{ paginator.page }}</b>页</div>
        </div>

      </div>


      <div class="col-3 comments-side-bar">
        {% include 'book/side_bar_book.html' %}
      </div>

    </div>
  </div>
{% endblock %}