{# context：book.cover: str, book.title: str, book.isbn: str, book.book_data: dict[str, Any], book.label: List[str] #}
{% if book %}
  <div class="p-2">
    <img class="mb-2" src="{{ book.cover }}" alt="暂无封面" style="width: 200px">
    {# 作品信息 #}
    <div id="book-other-data">
      <div id="comments-mini-title">
        <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
      </div>
      <div>
        <span>ISBN: </span>
        <span>{{ book.isbn }}</span>
      </div>
      {% for k, v in book.book_data.items %}
        <div>
          <span>{{ k }}: </span>
          <span>{{ v }}</span>
        </div>
      {% endfor %}
    </div>
    {# 标签 #}
    <div class="d-flex flex-wrap mt-2 position-relative">
      {% for label in book.label %}
        <div class="rounded-pill px-2 me-2 mb-2 label-wrapper" href="#">
          <span>{{ label }}</span>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}
