{% extends 'admin_base.html' %}

{% block admin_module %}
  <form id="add-book-form" class="row g-3" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-4">
      <label for="book-title" class="form-label text-secondary">书名</label>
      <input type="text" class="form-control" id="book-title">
    </div>
    <div class="col-4">
      <label for="book-isbn" class="form-label text-secondary">ISBN</label>
      <input type="text" class="form-control" id="book-isbn">
    </div>
    <div class="col-4">
      <label for="book-author" class="form-label text-secondary">作者</label>
      <input type="text" class="form-control" id="book-author">
    </div>
    <br>
    <div class="col-12">
      <label for="book-label" class="form-label text-secondary">标签(以空格分割多个标签)</label>
      <input type="text" class="form-control" id="book-label" placeholder="以空格分割多个标签">
    </div>
    <div class="col-4">
      <label for="book-cover" class="form-label text-secondary">封面</label>
      <input type="file" class="form-control" id="book-cover-upload" accept="image/*">
      <img class="mt-3 mx-auto d-block" id="book-cover" style="width: 70%">
    </div>
    <div class="col-8 mb-3">
      <label for="book-introduction" class="form-label text-secondary">简介</label>
      <textarea class="form-control" id="book-introduction"></textarea>
    </div>

  </form>

  <div class="float-end mt-3">
    <button id="add-field" class="btn btn-outline-success">添加新字段</button>
    <button id="submit-add-book" form="add-book-form" class="btn btn-primary">保存</button>
  </div>
  <body>
  <script>
      $(document).ready(function () {
          const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

          // 选择封面图片后直接展示，而不上传
          $("#book-cover-upload").on('change', function () {
              let file_name = document.getElementById("book-cover-upload").files[0].name,
                  src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
              $("#book-cover").attr("src", src);
          });

          // 添加额外字段
          let form = $("#add-book-form");
          $("#add-field").click(function () {
              const extra_field = `
                  <div class="col-12 row mt-2">
                      <div class='col-3'>
                          <input type='text' class='form-control field-name' placeholder='字段名'>
                      </div>
                      <div class='col-9'>
                          <div class="input-group">
                              <input type='text' class='form-control field-value' placeholder='内容'>
                              <button type="button" class="btn btn-outline-danger" onclick="$(this).parent().parent().parent().remove();">删除</button>
                          </div>
                      </div>
                  </div>`;
              form.append(extra_field);
          });

          // ajax发送表单数据，包括文件
          $("#submit-add-book").click(function (e) {
              e.preventDefault();
              let form_data = new FormData;

              // TODO 在此处做表单验证

              let title = $("#book-title").val();
              let isbn = $("#book-isbn").val();
              let author = $("#book-author").val();
              let label = $("#book-label").val();
              let cover = $("#book-cover-upload")[0].files[0];  // 获取文件
              let introduction = $("#book-introduction").val();

              // 处理title
              if (title.trim() === "") {
                  show_toast("text-bg-warning", "提示", "", "标题不可为空");
                  $("#book-title").addClass("is-invalid");
                  return;
              } else {
                  $("#book-title").removeClass("is-invalid");

              }
              form_data.append('title', title);

              // 处理ISBN
              if (isbn.trim() === "") {
                  show_toast("text-bg-warning", "提示", "", "ISBN不可为空");
                  $("#book-isbn").addClass("is-invalid");
                  return;
              } else {
                  $("#book-isbn").removeClass("is-invalid");
              }
              form_data.append('isbn', isbn);

              // 处理作者标签、封面、简介
              if (author)
                  form_data.append("author", author);
              else
                  form_data.append("author", "佚名");
              if (label)
                  form_data.append('label', label);
              if (cover)
                  form_data.append('cover', cover);
              if (introduction)
                  form_data.append('introduction', introduction);

              // 额外字段
              let field_names = $(".field-name"), field_values = $(".field-value");
              for (let index = 0; index < field_names.length; index++) {
                  let name = field_names.eq(index).val();
                  let value = field_values.eq(index).val();
                  if (name === "" && value === "") {  // 都为空则跳过
                      continue;
                  }
                  if (['title', 'isbn', 'author', 'cover', 'introduction', 'label', 'labels'].includes(name)) {  // 防止与前面几个字段名重复
                      show_toast("text-bg-warning", "提示", "", "字段名重复")
                      return;
                  }
                  if (name === "" || value === "") {  // 两个中一个为空
                      show_toast("text-bg-warning", "提示", "", "字段名或值必须都不为空")
                      return;
                  }
                  form_data.append(name, value);
              }


              $.ajax({
                  url: '{% url "admin_book_add" %}',
                  type: 'post',
                  headers: {'X-CSRFToken': csrfToken},
                  data: form_data,
                  processData: false,    // 不处理数据
                  contentType: false,    // 不设置内容类型
                  success: function (res) {
                      console.log(res);
                      alert(2);
                      window.location.href = "{% url 'admin_book' %}"
                  }
              });

          });
      });

      function show_toast(head_bg_class, strong_text, small_text, body_text) {
          const toastLive = $("#liveToast");
          toastLive.find(".toast-header").removeClass().addClass("toast-header " + head_bg_class);
          toastLive.find("strong").text(strong_text);
          toastLive.find("small").text(small_text);
          toastLive.find(".toast-body").text(body_text);
          const toast = new bootstrap.Toast(toastLive);
          toast.show();
      }
  </script>
  </body>

{% endblock %}