{% extends 'admin_base.html' %}

{% block admin_module %}
  <form id="add-book-form" class="row g-3" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-4">
      <label for="book-title" class="form-label text-secondary">书名</label>
      <input type="text" class="form-control" id="book-title" value="{{ book.title }}">
    </div>
    <div class="col-3">
      <label for="book-isbn" class="form-label text-secondary">ISBN</label>
      <input type="text" class="form-control" id="book-isbn" value="{{ book.isbn }}">
    </div>
    <div class="col-3">
      <label for="book-price" class="form-label text-secondary">价格</label>
      <input type="number" step="0.01" class="form-control" id="book-price" value="{{ book.price }}">
    </div>
    <div class="col-2">
      <label for="book-stock" class="form-label text-secondary">库存</label>
      <input type="number" class="form-control" id="book-stock" placeholder="默认为0" value="{{ book.stock }}">
    </div>
    <div class="col-8">
      <label for="book-label" class="form-label text-secondary">标签(以空格分割多个标签)</label>
      <input type="text" class="form-control" id="book-label" placeholder="以空格分割多个标签" value="{% for label in book.label %}{{ label }} {% endfor %}">
    </div>
    <div class="col-4">
      <label for="book-status" class="form-label text-secondary">书籍状态</label>
      <select id="book-status" class="form-select">
        <option value="1" {% if book.status == 1 %}selected{% endif %}>在售</option>
        <option value="2" {% if book.status == 2 %}selected{% endif %}>售空</option>
        <option value="3" {% if book.status == 3 or not book.status %}selected{% endif %}>下架</option>
      </select>
    </div>
    <div class="col-4">
      <label for="book-cover" class="form-label text-secondary">封面</label>
      <input type="file" class="form-control" id="book-cover-upload" accept="image/*">
      <img class="mt-3 mx-auto d-block" id="book-cover" style="width: 70%" src="{{ book.cover }}">
    </div>
    <div class="col-8 mb-3">
      <label for="book-introduction" class="form-label text-secondary">简介</label>
      <textarea class="form-control" id="book-introduction">{{ book.introduction }}</textarea>
    </div>

    {% if book.book_data %}
      {% for field in book.book_data.items %}
        <div class="col-12 row mt-2">
          <div class='col-3'>
            <input type='text' class='form-control field-name' placeholder='字段名' value="{{ field.0 }}">
          </div>
          <div class='col-9'>
            <div class="input-group">
              <input type='text' class='form-control field-value' placeholder='内容' value="{{ field.1 }}">
              <button type="button" class="btn btn-outline-danger" onclick="$(this).parent().parent().parent().remove();">删除</button>
            </div>
          </div>
        </div>
      {% endfor %}

    {% endif %}

  </form>

  <div class="float-end mt-3">
    <button id="add-field" class="btn btn-outline-success">添加新字段</button>
    <button id="submit-add-book" form="add-book-form" class="btn btn-primary">保存</button>
  </div>
  <body>
  <script>
      $(document).ready(function () {
          const csrfToken = $('input[name="csrfmiddlewaretoken"]').val();

          // 选择封面图片后直接展示，而不上传
          $("#book-cover-upload").on('change', function () {
              let file_name = document.getElementById("book-cover-upload").files[0].name,
                  src = window.URL.createObjectURL(this.files[0]); //转成可以在本地预览的格式
              $("#book-cover").attr("src", src);
          });

          // 添加额外字段
          let form = $("#add-book-form");
          $("#add-field").click(function () {
              const extra_field = `
                  <div class="col-12 row mt-2">
                      <div class='col-3'>
                          <input type='text' class='form-control field-name' placeholder='字段名'>
                      </div>
                      <div class='col-9'>
                          <div class="input-group">
                              <input type='text' class='form-control field-value' placeholder='内容'>
                              <button type="button" class="btn btn-outline-danger" onclick="$(this).parent().parent().parent().remove();">删除</button>
                          </div>
                      </div>
                  </div>`;
              form.append(extra_field);
          });

          // ajax发送表单数据，包括文件
          $("#submit-add-book").click(function (e) {
              e.preventDefault();
              let form_data = new FormData;

              // TODO 在此处做表单验证

              let title = $("#book-title").val();
              let isbn = $("#book-isbn").val();
              let price = $("#book-price").val();
              let stock = $("#book-stock").val();
              let label = $("#book-label").val();
              let status = $("#book-status").val();
              let cover = $("#book-cover-upload")[0].files[0];  // 获取文件
              let introduction = $("#book-introduction").val();

              // 处理title
              if (title.trim() === "") {
                  show_toast("text-bg-warning", "提示", "", "标题不可为空");
                  $("#book-title").addClass("is-invalid");
                  return;
              } else {
                  $("#book-title").removeClass("is-invalid");

              }
              form_data.append('title', title);

              // 处理ISBN
              if (isbn.trim() === "") {
                  show_toast("text-bg-warning", "提示", "", "ISBN不可为空");
                  $("#book-isbn").addClass("is-invalid");
                  return;
              } else {
                  $("#book-isbn").removeClass("is-invalid");
              }
              form_data.append('isbn', isbn);

              // 处理库存
              if (stock < 0) {
                  $("#book-stock").addClass("is-invalid");
                  show_toast("text-bg-warning", "提示", "", "库存不能小于0");
                  return;
              } else if (!stock) {
                  form_data.append("stock", "0");
              } else {
                  $("#book-stock").removeClass("is-invalid");
                  form_data.append("stock", stock);
              }

              // 处理价格
              if (price < 0) {
                  $("#book-price").addClass("is-invalid");
                  show_toast("text-bg-warning", "提示", "", "价格不能小于0");
                  return;
              } else if (!price) {
                  $("#book-price").addClass("is-invalid");
                  show_toast("text-bg-warning", "提示", "", "价格不能为空");
                  return;
              } else {
                  $("#book-price").removeClass("is-invalid");
                  form_data.append("price", price);
              }
              // let reg = /(^[1-9](\d+)?(\.\d{1,2})?$)|(^0$)|(^\d\.\d{1,2}$)/;
              // if (price.trim() === "") {
              //    $("#book-title").addClass("is-invalid");
              //    show_toast("text-bg-warning", "提示", "", "未输入金额");
              //    return;
              //} else if (!reg.test(price)) {
              //    $("#book-title").addClass("is-invalid");
              //    show_toast("text-bg-warning", "提示", "", "输入金额格式不正确");
              //    return;
              //} else if (price < 0) {
              //    $("#book-title").addClass("is-invalid");
              //    show_toast("text-bg-warning", "提示", "", "金额不能小于0");
              //    return;
              //} else {
              //    $("#book-title").removeClass("is-invalid");
              // }

              // 标签、封面、简介、状态
              if (label)
                  form_data.append('label', label);
              if (status)
                  form_data.append("status", status);
              if (cover)
                  form_data.append('cover', cover);
              if (introduction)
                  form_data.append('introduction', introduction);

              // 额外字段
              let field_names = $(".field-name"), field_values = $(".field-value");
              for (let index = 0; index < field_names.length; index++) {
                  let name = field_names.eq(index).val();
                  let value = field_values.eq(index).val();
                  if (name === "" && value === "") {  // 都为空则跳过
                      continue;
                  }
                  if (['title', 'isbn', 'author', 'cover', 'introduction', 'label', 'labels'].includes(name)) {  // 防止与前面几个字段名重复
                      show_toast("text-bg-warning", "提示", "", "字段名重复")
                      return;
                  }
                  if (name === "" || value === "") {  // 两个中一个为空
                      show_toast("text-bg-warning", "提示", "", "字段名或值必须都不为空")
                      return;
                  }
                  form_data.append(name, value);
              }


              $.ajax({
                  url: '{% if not book %}{% url "admin_book_add" %}{% else %}{% url 'admin_book_edit' book.id%}{% endif %}',
                  type: 'post',
                  headers: {'X-CSRFToken': csrfToken},
                  data: form_data,
                  processData: false,    // 不处理数据
                  contentType: false,    // 不设置内容类型
                  success: function (res) {
                      console.log(res);
                      window.location.href = "{% url 'admin_book' %}"
                  }
              });

          });
      });

      function show_toast(head_bg_class, strong_text, small_text, body_text) {
          const toastLive = $("#liveToast");
          toastLive.find(".toast-header").removeClass().addClass("toast-header " + head_bg_class);
          toastLive.find("strong").text(strong_text);
          toastLive.find("small").text(small_text);
          toastLive.find(".toast-body").text(body_text);
          const toast = new bootstrap.Toast(toastLive);
          toast.show();
      }
  </script>
  </body>

{% endblock %}